*.o
*.d
*.d.1
*.swap
*.elf*
*.map
symbol_tbl.txt
sdk_used_list.used
*.depend
*.layout
*.lst
*.lit
.project
.cproject
*ram*.bin
*sdram*.bin
*.format_orig
*.c.swp
*.h.swp
*.orig
*.app
SDK/objs/
*aac.bin
*aec.bin
*app.bin
*aptx.bin
*data_code.bin
*jl_isd.bin
*jl_isd.fw
*update.ufw
SDK/cpu/*/sdk.ld
SDK/cpu/*/tools/download.bat
SDK/cpu/*/tools/isd_config.ini
./config/
package/
patch/
SDK.git/
info.json
*sdk.md5
output/
